### Notebook for project1 for programming for Data Analysis

### Add a TOC here...

## Purpose

The purpose of this notebook is to:   

• Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four different variables.   

• Investigate the types of variables involved, their likely distributions, and their relationships with each other.  
 
• Synthesise/simulate a data set as closely matching their properties as possible.   

• Detail your research and implement the simulation in a Jupyter notebook – the data set itself can simply be displayed in an output cell within the notebook.

## Background

The phenonom I have chosen is new gratuate salaries in Ireland. I chose this subject because...
The expected results of this project will be to simulate a data set of graduate salaries based on a number of contributing factors as detailed below. 

Data released by the CSO (https://www.cso.ie/en/releasesandpublications/ep/p-heo/highereducationoutcomes-graduationyears2010-2019/backgroundstatistics/) shows that in 2019 there were over 42,000 new college graduates in Ireland. 
The numbers of new college graduates in Ireland has been on the increase for a number of years now with Ireland having a higher than the EU average of people with 3rd level education hitting a peak of 61% of 25-34 year olds having a 3rd level education on 2020 (https://www.cso.ie/en/csolatestnews/pressreleases/2021pressreleases/pressstatementeducationalattainmentthematicreport2021/). 
A report by Trinity News in 2022 (https://trinitynews.ie/2022/10/ireland-ranked-third-among-oecd-countries-for-rate-of-third-level-education/) shows that Ireland was ranked 3rd amongst the 38 OECD countries for 3rd level attainment overall. And that 63% of those in the 18-22 year old category were in 3rd level education compared to the EU average of 59%.

Of these, data from HEA (https://hea.ie/statistics/graduate-outcomes-data-and-reports/graduate-outcomes-2021/) shows that over three quarters ended up in employment with (6?) months with approx. 20% going on to furth study.

Of those that were in employment, 91% were working in Ireland with the breakdown of:   
43% working in Dublin (Dublin region)   
15% working in Cork (South West Region)   
7% working in Galway (Mid West Region)   
35% split across the remaining 5 regions (Mid East, South East, West, Border, Midlands).

The data clearly shows that more and more young people are attending and graduating from 3rd level education. An article by Forbes (https://www.forbes.com/advisor/student-loans/why-should-you-go-to-college/) indicates that the primary reason for going to college is to earn more money with college graduates out earning those who finished education at secondary level by as much as almost 50% annually.

This project will focus only on those who graduated with a level 8 Hons degree and fall into the category of new/young graduate. These ranged across a number of NFQ levels from Level 6 through to Level 10. Of these, Level 8 Hons degrees were by far the most popular with over 28,000 (xx%). (https://www.cso.ie/en/releasesandpublications/ep/p-heo/highereducationoutcomes-graduationyears2010-2019/backgroundstatistics/)

According to research by the HEA $^3$ a number of factors can influence a graduate starting salary such as subject/area of study and grade. A study by gradireland $^4$ also suggests that area of study is very important but that location/region also has an impact

To summarise, the four variables we will be researching and simulate a data set for are as follows:

Graduate Salary   
Area of Study   
Award Level   
Location   
Gender (maybe)

### Graduate Salary

There are numerous articles and reports published every year on graduate salaries.
According to research published by the HEA (https://hea.ie/statistics/graduate-outcomes-data-and-reports/graduate-outcomes-2020/earnings-analysis/) starting graduate salaries in Ireland differ significantly and can range from approx. 30,000 to 45,000 with the average coming in around 37,104. More recent research by the Irish Independent (https://www.independent.ie/irish-news/surge-in-graduate-employment-as-four-in-five-walk-into-a-job-with-average-salary-of-38044/42166132.html) show the average salary for new graduates is now 38,044. An article by The Irish Times (https://www.irishtimes.com/ireland/education/2022/11/23/college-graduates-gain-employment-in-record-numbers/) indicates that the average earnings for all graduates were just over €38,000. 
Graduate salaries have increased steadily over the last 10 years with research published by the CSO (https://www.cso.ie/en/releasesandpublications/ep/p-heo/highereducationoutcomes-graduationyears2010-2019/whatdograduatesearn/) showing a yearly increase generally in line with inflation on average.

Salary is a numeric variable which is defined as quantitative as it represents an amount (in this case the amount is euros). Generally salary is considered a continuous variable particularly if we are considering just whole euro values.

Taking the values from (https://hea.ie/statistics/graduate-outcomes-data-and-reports/graduate-outcomes-2020/earnings-analysis/) as being the most accurate we come up with the following summary:
Mean – 37104
Median
Standard Deviation
Distribution
Given we only have 3 values, the standard deviation and median values would not mean much but we could assume normal distribution given the information we have.

### Location

For location we are referring to the location of where the graduate is employed post-graduation and not the location of the university they graduated from.

According to the HEA (https://hea.ie/assets/uploads/2021/09/Higher-Education-Institutions-Earnings-Report-September-2021.pdf) a number of factors can influence the starting salary of a graduate and note in particular the relationship between salary and location of employment. A study by gradireland (https://gradireland.com/careers-advice/job-offers-and-working-life/salaries-and-benefits-new-graduates) also claims the importance of location/region as being a factor influencing salary.

The HSE (https://hea.ie/statistics/graduate-outcomes-data-and-reports/graduate-outcomes-2020/earnings-analysis/) breaks down the country into 8 geographic locations for the purpose of their statistics and suggests that graduates employed in Dublin generally earn the highest average salaries while graduates in the border counties earn the lowest.

Based on the country average being 37,104 I have compiled the following table showing the % difference between each region and the average:

| Region | Count | % +/-|
| --- | --- | --- |
| Dublin | 38297 | +1.03% |
| South-West | 37055 | -99.87% |
| Mid-West| 36665 | -98.82% |
| Mid-East | 36475 | -98.3% |
| Midlands | 36413 | -98.14% |
| South-East | 36204 | -97.57% |
| West | 34890 | -94.03% |
| Border | 33018 | -88.99% |


In terms of the number of graduates working in each location, data from the HSE shows that by far the total number of graduates end up working in Dublin after leaving college at xx%...the fewest work in ....

| Country Average | % of total |
| --- | --- |
| Dublin | xxx |
| South-West | xxx |
| Mid-West| xxx |
| Mid-East | xxx |
| Midlands | xxx |
| South-East | xxx |
| West | xxx |
| Border | xxx |

### Grade

The grade a student receives is one of the most important factors influencing their starting salary according to the HEA (https://hea.ie/assets/uploads/2021/09/Higher-Education-Institutions-Earnings-Report-September-2021.pdf).
Statistics from the CSO (https://www.cso.ie/en/releasesandpublications/ep/p-heo/highereducationoutcomes-graduationyears2010-2019/backgroundstatistics/) show the breakdown of grades received. Historically, a H21 grade has been the most popular and the percentage receiving a H2 has been increasing over the last number of years. From 46% 10 years ago to just over 50%. H1s has also seen a percentage increase while H22 and H3s are reducing. 

The following chart breaks down the % of grades received across all graduates for each award level:

Grade | % |
| --- | --- |
| H1 | 16.55 |
| H21 | 50.43 |
| H22| 27.21 |
| H3 | 5.81 |

Next Step: Figure out how grade impacts salary - use data from https://data.gov.ie/dataset/heo13-graduate-earnings   

Other Details here
From https://hea.ie/statistics/data-for-download-and-visualisations/key-facts-figures/ 2022

Grade is a qualitative variable and is considered a categorical variable as it can take only one a small and fixed number of possibilities. And as it is possible to rank them in a meaningful order of H1 to H3 it is an ordinal variable.   
Mean   
Median   
StDev   
Distribution

### Area of Study 

To see how Area of Study affects salaries, data from gov.ie $^5$ ...
https://data.gov.ie/dataset/heo13-graduate-earnings

## Gender

Maybe use Gender...

### Add the sample data set I created here

Sample Data set...

Generate simulation based on the above

1. Create dataframe
2. Add first variable (region)
3. Add second variable (grade)
4. Add third variable (course/area of study)
5. calculate salary

In [8]:
# Import modules

import numpy as np
import pandas as pd

# Create dataframe
df = pd.DataFrame()

# Create list for Location and add to dataframe
location_list = np.random.choice(['Dublin', 'South-West', 'Mid-West','Mid-East', 'Midlands', 'South-East', 'West', 'Border'], 100, p=[0.43, 0.15, 0.07, 0.07, 0.07, 0.07, 0.07, 0.07])

df['location'] = location_list

# Create list for Grade and add to dataframe
grade_list = np.random.choice(['H1', 'H21', 'H22','H3'], 100, p=[0.17, 0.50, 0.27, 0.06])

df['grade'] = grade_list

# Create list for Course and add to dataframe
course_list = np.random.choice(['Bus', 'HW', 'Eng','Arts','NatS','Ed', 'SocS', 'ICT','Serv','Agr','Oth'], 100, p=[0.24, 0.18, 0.11, 0.10, 0.09, 0.08, 0.07, 0.06, 0.04, 0.02, 0.01])

df['course'] = course_list

df

# Now need to work out how to calculate salary based on course, grade and location!!!
# # If course = 'ICT' and grade = 'H1' and location = 'Galway' then...
# Or maybe, add random salary, then update up/down based on course/location/grade
# Or maybe, add average salary, then update up/down based on course/location/grade
# Maybe...add random distributed salaries by course, then adjust up/down based on grade and then location

# OR maybe create individual dfs per course or per something else... 

# Could be lazy and just create a random salary based on the the high and low values we have!!!

# Check this link
# https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

      location grade course
0       Dublin    H1   SocS
1       Dublin   H21    Bus
2       Dublin   H22   SocS
3       Dublin   H21   SocS
4   South-East   H21     Ed
..         ...   ...    ...
95      Dublin   H22    Bus
96  South-East   H22    Eng
97      Dublin   H22    Bus
98    Mid-East   H21   NatS
99    Mid-East   H21     HW

[100 rows x 3 columns]

# Results

Give overview of results/how to read them etc...

# Summary

Add a summary of the notebook/wrap up

### References

$^1$ https://hea.ie/statistics/graduate-outcomes-data-and-reports/graduate-outcomes-2020/earnings-analysis/   
$^2$ https://www.independent.ie/irish-news/surge-in-graduate-employment-as-four-in-five-walk-into-a-job-with-average-salary-of-38044/42166132.html   
$^3$ https://hea.ie/assets/uploads/2021/09/Higher-Education-Institutions-Earnings-Report-September-2021.pdf   
$^4$ https://gradireland.com/careers-advice/job-offers-and-working-life/salaries-and-benefits-new-graduates   
$^5$ https://data.gov.ie/dataset/heo13-graduate-earnings